<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Test Results</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <div>
    <h1>Your Test Results</h1>
    <p><%= results %></p>
  </div>
</body>
</html>
