.container {
  margin: 20px auto; 
  background-color: #911cff; 
  border: 2.5px solid #6800ca;
  border-radius: 15px; 
  padding: 30px; 
  width: 50vw;
  height: 60vh;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); 
  text-align: center; 
  
  overflow: hidden; 
}
/* Home styles */
.home {

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full viewport height */
  width: 100vw;
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
  position: relative;
  box-sizing: border-box; 
  text-align: center;
}

/* Heading styles */
.home h1 {
  font-size: 2.5em;
  color: #ffffff;
  font-family: 'Minecraftia', sans-serif; 
}

/* Paragraph styles */
.home p {
  font-size: 1.2em;
  color: #ffffff;
  margin: 20px 0;
  font-family: 'Press Start 2P', cursive;
}

/* Button styles */
.home button {
  background-color: #911cff;
  color: white;
  border: 2px solid #ad55ff;
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
  border-radius: 8px;
  font-family: 'Minecraftia', sans-serif; 

}

.home button:hover {
  background-color: #4d1582;
  border:#4d1582;
}

/* Background animation */
@keyframes backgroundMotion {
  0% { background-position: 0 0; }
  100% { background-position: 100% 100%; }
}

.home::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, #942ff8, #a055d9, #ff920e, #f7337e, #ff920e, #a055d9,#942ff8);
  background-size: 400% 400%;
  animation: backgroundMotion 15s ease infinite;
  z-index: -1; 
  /* Place it behind the content */
}


.home .subscription-popup {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.14); /* Semi-transparent background */
}

.subscription-popup-content {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px; /* Adjust width as needed */
  text-align: center;
}