.knowledge h1 {
  font-size: 2.5em;
  color: #ffffff;
  font-family: 'Minecraftia', sans-serif; 
}


  /* Background animation */
@keyframes backgroundMotion {
  0% { background-position: 0 0; }
  100% { background-position: 100% 100%; }
}



.knowledge {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
    background-color: none;
    text-align: center;
  /*position: absolute; /* Ensure the ::before pseudo-element can be used */
  /*min-height: 100vh; /* Ensure .home takes up at least the full viewport height */
}

.knowledge::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, #942ff8, #a055d9, #ff920e, #f7337e, #ff920e, #a055d9,#942ff8);
  background-size: 400% 400%;
  animation: backgroundMotion 15s ease infinite;
  z-index: -1; /* Place it behind the content */
}